/* YourComponent.css */

.icon{
    /* Customize color */
    color: white;
    font-size: 23px;
    font-weight: bolder;
}
.shop-cart{
    color: white;
    font-size: 30px;
    font-weight: bolder;
}
  